/** page styles **/

.box {

    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    margin: 1rem;
}

.modal-card-body textarea {
  width: 100%;
}

.labelrow {
  margin-bottom: 14px;
}

.labelrow label {
  margin-right: 14px;
}

#file {
  display:none;
}

.clickable {
  cursor: pointer;
}

.choice-nav button {
  margin-right: 5px;
}

.stim-row {
  padding-right: 1rem;
}

.stim-main-bar {
  flex-wrap: nowrap;
}
.section {
  padding: 1rem;
}

.stim-subtitle {
  font-size: 1rem;
}

#reorder-modal-id div.field.has-addons {
  position: fixed;
  z-index: 100;
}

#reorder-modal-id .table {
  position: relative;
  top: 2.5rem;
}

#reorder-modal-id .modal-card-body {
  min-height: 50vh;
}

#reorder-modal-id tbody tr {
  cursor: pointer;
}