/** page styles **/

.box {

    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    margin: 1rem;
}

.modal-card-body textarea {
  width: 100%;
}

#file {
  display:none;
}

.clickable {
  cursor: pointer;
}